:root{
  --mainBackgroundColor:white;
  --fontColor:black;
}
* {box-sizing: border-box;}
[class*="col-NZ"] {
   float: left;
   padding: 15px;
   border: 1px solid red;
}
.col-NZ-1 {width: 8.33%;}
.col-NZ-2 {width: 16.66%;}
.col-NZ-3 {width: 25%;}
.col-NZ-4 {width: 33.33%;}
.col-NZ-5 {width: 41.66%;}
.col-NZ-6 {width: 50%}
.col-NZ-7 {width: 58.33%}
.col-NZ-8 {width: 66.66%}
.col-NZ-9 {width: 75%}
.col-NZ-10 {width: 83.33%}
.col-NZ-11 {width: 91.66%}
.col-NZ-12 {width: 100%}

@media(max-width: 1000px) {
.col-NZ-1-tablet {width: 8.33%;}
.col-NZ-2-tablet {width: 16.66%;}
.col-NZ-3-tablet {width: 25%;}
.col-NZ-4-tablet {width: 33.33%;}
.col-NZ-5-tablet {width: 41.66%;}
.col-NZ-6-tablet {width: 50%;}
.col-NZ-7-tablet {width: 58.33%;}
.col-NZ-8-tablet {width: 66.66%;}
.col-NZ-9-tablet {width: 75%;}
.col-NZ-10-tablet {width: 83.33%;}
.col-NZ-11-tablet {width: 91.66%;}
.col-NZ-12-tablet {width: 100%;}
}

@media(max-width: 767px) {
.col-NZ-1-mobile {width: 8.33%;}
.col-NZ-2-mobile {width: 16.66%;}
.col-NZ-3-mobile {width: 25%;}
.col-NZ-4-mobile {width: 33.33%;}
.col-NZ-5-mobile {width: 41.66%;}
.col-NZ-6-mobile {width: 50%;}
.col-NZ-7-mobile {width: 58.33%;}
.col-NZ-8-mobile {width: 66.66%;}
.col-NZ-9-mobile {width: 75%;}
.col-NZ-10-mobile {width: 83.33%;}
.col-NZ-11-mobile {width: 91.66%;}
.col-NZ-12-mobile {width: 100%;}
}
.text-center {
    text-align: center;
}

.healthbar {
    width: 80%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
}

.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
}

.log ul .player-turn {
    color: blue;
    background-color: #e4e8ff;
}

.log ul .monster-turn {
    color: red;
    background-color: #ffc0c1;
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#start-game {
    background-color: #aaffb0;
}

#start-game:hover {
    background-color: #76ff7e;
}

#attack {
    background-color: #ff7367;
}

#attack:hover {
    background-color: #ff3f43;
}

#special-attack {
    background-color: #ffaf4f;
}

#special-attack:hover {
    background-color: #ff9a2b;
}

#heal {
    background-color: #aaffb0;
}

#heal:hover {
    background-color: #76ff7e;
}

#give-up {
    background-color: #ffffff;
}

#give-up:hover {
    background-color: #c7c7c7;
}
li:nth-child(even){
    background-color:rgba(255, 0, 0, 0.5);
}
li:nth-child(odd){
    background-color:rgba(0, 0, 255, 0.5);
}

[class*='col-NZ']{
  border:none;
}
[class*='pokemon-image'] {
    display: flex;
    justify-content: center;
}

[class*='pokemon-image'] img {
    height: 150px;
    width: 150px;
}
h1{
  display:flex;
  justify-content:center;
}
